<ion-toolbar class="ion-align-items-center ion-justify-content-between responsive-toolbar">
  <ion-buttons slot="start">
    <ion-back-button *ngIf="!isHomePage()" defaultHref="/" icon="chevron-back-outline"></ion-back-button>
    <ion-menu-button></ion-menu-button>
  </ion-buttons>

 <ion-title class="ion-text-center desktop-title" id="dynamic-title">
    Early Diagnosis
  </ion-title>
  <ion-buttons slot="end" class="responsive-buttons">
    <div class="buttons-container">
      <ion-button class="signIn-button" routerLink="/login" (click)="login()">Sign Up</ion-button>
      <ion-button class="login-button" routerLink="/login" (click)="login()">Sign In</ion-button>
    </div>
  </ion-buttons>
</ion-toolbar>
