/* Cover Picture Container Styles */
.cover-picture-container {
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure no overflow */
  position: relative; /* For positioning child elements if needed */
  margin-top: -45px;
}

.cover-picture-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container */
  object-position: center; /* Center the image within the container */
}

/* Adjustments for Small Screens */
@media (max-width: 768px) {
  .cover-picture-container {
    height: 45vh; /* Adjust height for mobile devices */
  }

  .cover-picture-img {
    object-fit: contain; /* Ensure the image is fully visible */
    height: auto; /* Adjust height to maintain aspect ratio */
    width: 100%; /* Ensure width covers the container */
  }
}

/* Menu Container Styles */
.menu-container {
  position: relative;
  z-index: 10;
}

.menu-selector {
  display: flex;
  justify-content: right;
  background-color: transparent;
  padding: 10px 0;
  cursor: pointer;
}

.header-logo.clickable {
  cursor: pointer;
}

.menu-selector ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu-selector li {
  margin: 0 15px;
}

.menu-selector a {
  text-decoration: none;
  color: #33265E;
  font-weight: bold;
  font-size: 20px;
}

.menu-selector a:hover {
  color: purple;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu-container {
    display: none; /* Hide the menu on screens smaller than 768px */
  }
}
