/* Cover Picture Container Styles */
.cover-picture-container {
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure no overflow */
  position: relative; /* For positioning child elements */
  margin-top: 0; /* Remove the negative margin */
}

.cover-picture-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container */
  object-position: center; /* Center the image within the container */
}

/* Menu Container Styles */
.menu-container {
  position: absolute; /* Position the menu absolutely within the cover picture */
  top: 120px; /* Adjust this value to move the menu down */
  width: 100%;
  z-index: 10;
  left: 15%;

}

.menu-selector {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 10px 0;
  cursor: pointer;
}

.header-logo.clickable {
  cursor: pointer;
}

.menu-selector ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu-selector li {
  margin: 0 15px;
  padding-right: 30px;

}

.menu-selector a {
  text-decoration: none;
  color: #33265E;
  font-weight: bold;
  font-size: 20px;
}

.menu-selector a:hover {
  color: purple;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu-container {
    display: none; /* Hide the menu on screens smaller than 768px */
  }
}
