<div class="menu-container">
  <!-- Navigation menu -->
  <nav class="menu-selector">
    <ul>
      <li><a routerLink="/home" (click)="home()">Home</a></li>
      <li><a routerLink="/about-ibd" (click)="aboutIbd()">About IBD</a></li>
      <li><a routerLink="/ai-help" (click)="aiHelp()">AI Help</a></li>
      <li><a routerLink="/resources" (click)="resources()">Resources</a></li>
      <li><a routerLink="/about-us" (click)="aboutUs()">About Us</a></li>
      <li><a routerLink="/contact-form" (click)="contactForm()">Contact Us</a></li>
    </ul>
  </nav>
</div>

<div class="cover-picture-container">
  <!-- Cover image -->
  <img [src]="imageUrl" [alt]="altText" class="cover-picture-img">
</div>
