
<div class="menu-container">
  <nav class="menu-selector">
  <ul>
    <li><a routerLink="/home" (click)="home()">Home</a></li>
    <li><a routerLink="/about-ibd" (click)="aboutIbd()">About IBD</a></li>
    <li><a routerLink="/ai-help" (click)="aiHelp()">AI Help</a></li>
    <li><a routerLink="/resources" (click)="resources()">Resources</a></li>
    <li><a routerLink="/about-us" (click)="aboutUs()">About Us</a></li>
    <li><a routerLink="/contact-form" (click)="contactForm()">Contact Us</a></li>
  </ul>
</nav>
</div>
<div class="image-container">
  <div class="carousel">
    <div class="slides">
      <div class="slide" *ngFor="let image of images">
        <img [src]="image" alt="Slide">
      </div>
    </div>
    <!-- Custom pagination dots -->
    <div class="dots">
      <span *ngFor="let dot of images; let i = index"
        class="dot"
        [class.active]="i === currentSlideIndex"
        (click)="goToSlide(i)">
      </span>
    </div>
    <!-- Custom navigation buttons -->
    <div class="swiper-buttons">
      <button class="swiper-button-prev" (click)="previousSlide()">&#10094;</button>
      <button class="swiper-button-next" (click)="nextSlide()">&#10095;</button>
    </div>
  </div>
</div>
