/* Updated Styles */
.contact-container {
  display: flex;
  justify-content: space-between;
  margin: 40px;
  padding: 40px;
  border: none; /* Remove border */
  border-radius: 15px; /* Retain border radius */
  background-color: transparent; /* Make background transparent */
  box-shadow: none; /* Remove shadow */
  color: #303940;
}

.card-body {
  padding: 30px 40px;
  border: none; /* Remove border */
  background-color: transparent; /* Make background transparent */
}

.contact-info {
  flex: 1;
  margin-right: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info h2 {
  margin-bottom: 5px;
  color: #33265E;
  font-size: 3em;
  font-weight: bold;
}

.contact-info p {
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 1.5em;
}

.contact-form-card {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px; /* Retain padding */
  border: none; /* Remove border */
  border-radius: 10px; /* Retain border radius */
  background-color: transparent; /* Make background transparent */
  box-shadow: none; /* Remove shadow */
}

.contact-form {
  width: 100%;
  max-width: 400px;
}
.contact-info img {
  max-width: 50%; /* Set a max-width to make the image smaller */
  height: auto; /* Maintain aspect ratio */
  margin-left: 90px;
}
.contact-form form {
  margin: 0;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="number"],
input[type="text"],
input[type="email"] {
  height: 35px;
}

textarea {
  resize: vertical;
  height: 100px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #33265E;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 40%;
}

button[type="submit"]:hover {
  background-color: #9a48c0;
}

/* Mobile-specific styles */
@media only screen and (max-width: 800px) {
  ion-content {
    padding: 10px;
  }

  ion-chip {
    font-size: 24px;
  }

  .cover {
    padding-top: 10px;
  }

  .contact-container {
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    box-shadow: none; /* Remove shadow for mobile */
  }

  .card-body {
    padding: 20px;
    border: none; /* Remove border */
    background-color: transparent; /* Make background transparent */
  }

  .contact-info {
    margin-bottom: 20px;
  }

  .contact-info h2 {
    margin-bottom: 15px;
    font-size: 2em;
  }

  .contact-info p {
    margin-bottom: 15px;
    line-height: 1.4;
    font-size: 1.2em;
  }

  .contact-form-card {
    width: 100%;
    padding: 20px;
    box-shadow: none; /* Remove shadow for mobile */
  }

  .contact-form {
    max-width: 100%;
  }

  .form-group {
    margin-bottom: 10px;
  }

  label {
    margin-bottom: 3px;
  }

  input,
  textarea {
    padding: 8px;
  }

  input[type="number"],
  input[type="text"],
  input[type="email"] {
    height: 30px;
  }

  textarea {
    height: 80px;
  }

  button[type="submit"] {
    padding: 8px 16px;
    font-size: 14px;
    margin: 20px auto 0 auto;
    display: block;
  }
}
